.popup {
  visibility: hidden;
  pointer-events: none;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: visibility 3s, opacity 1s ease-in-out;
}